* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100dvh; /* ermöglicht es dem Body in Kombination mit flex: 1 im main, seine Elemente über die gesamte Bildschirmhöhe zu verteilen. Also kein Problem wenn der Content nicht die ganze Seite einnehmen kann. */

    display: flex;
}

main {
    flex: 1; /* kurz Schreibweise von flex-grow: 1 und flex-shrink: 1, sorgt dafür dass das flexbox Element flexibel wird, den verfügbaren Platz im Container ausfüllt und sich gleichmäßig mit anderen Elementen den Platz teil */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 90px;
}
/* #region HERO */
.hero_blog {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 90px;
    padding-inline: clamp(40px, calc(10.9px + 9.09vw), 120px);
}

.header_and_card {
    width: 100%;

    display: flex;
    justify-content: center;

    gap: 26px;
}

.header_left {
    width: clamp(255px, calc(20.5px + 73.3vw), 900px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-bottom: 20px;
}

.heading_and_stats {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 40px;
}
.headings {
    display: flex;
    flex-direction: column;

    gap: 8px;
}
.headings_and_text {
    display: flex;
    flex-direction: column;

    gap: 8px;
}
.header_left h2 {
    font-family: var(--palanquin);
    line-height: 1.2;
    letter-spacing: 0;
    font-size: clamp(20px, calc(12.7px + 2.27vw), 40px);
    font-weight: 600;

    color: rgba(78, 164, 135, 1);
}
.header_left h1 {
    font-family: var(--arima);
    line-height: 1.2;
    letter-spacing: 0;
    font-size: clamp(40px, calc(31.3px + 2.73vw), 64px);
    font-weight: 700;

    color: rgba(241, 201, 83, 1);
}
.header_left p {
    font-family: var(--palanquin);

    line-height: 1.1;
    letter-spacing: 0;
    font-size: clamp(18px, calc(14.4px + 1.14vw), 28px);
    font-weight: 400;

    color: rgba(84, 55, 13, 1);
}

.statistics_area {
    display: flex;

    font-family: var(--palanquin);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0;

    color: rgba(84, 55, 13, 1);

    gap: clamp(16px, calc(8.7px + 1.94vw), 32px);
}

.statistic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}
.date img {
    width: 16px;
    height: 18px;
}
.reading_time img {
    width: 20px;
    height: 7px;
}
.views img {
    width: 20px;
    height: 14px;
}
.share img {
    width: 16px;
    height: 18px;
}

.header_right {
    width: 270px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 16px;

    background-color: rgba(78, 164, 135, 0.2);

    border-radius: 30px;
}

.card img {
    width: 120px;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
}

.card_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    gap: 12px;
}

.card_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h4 {
    font-family: var(--arima);
    line-height: 1.2;
    letter-spacing: 0;
    font-size: clamp(16px, calc(15.1px + 0.24vw), 18px);
    font-weight: 700;

    color: rgba(84, 55, 13, 1);
}
#blog_author {
    font-family: var(--arima);
    line-height: 1.2;
    letter-spacing: 0;
    font-size: clamp(16px, calc(15.1px + 0.24vw), 18px);
    font-weight: 400;

    color: rgba(84, 55, 13, 1);
}
.card p {
    font-family: var(--palanquin);
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 16px;
    font-weight: 400;

    color: rgba(84, 55, 13, 1);
}

/* #endregion */

/* #region INTRO */

#intro {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-inline: clamp(40px, calc(10.9px + 9.09vw), 120px);
}
.intro_text {
    width: 100%;

    font-family: var(--palanquin);
    line-height: 1.2;
    letter-spacing: 0;
    font-size: clamp(16px, calc(12.4px + 0.97vw), 24px);
    font-weight: 400;

    color: rgba(61, 61, 61, 1);
}

/* #endregion */

/* #region MAIN ARTICLE */

.main_article_section {
    width: 100%;

    display: flex;
}

.big_article {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.big_article h3 {
    font-family: var(--arima);
    line-height: 1.2;
    letter-spacing: 0;
    font-size: clamp(20px, calc(14.5px + 1.45vw), 32px);
    font-weight: 600;

    text-align: center;

    color: rgba(84, 55, 13, 1);
}

.big_figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 24px;
    padding-inline: clamp(40px, calc(10.9px + 9.09vw), 120px);

    gap: 88px;
}
.big_figure img {
    width: clamp(295px, calc(169.5px + 39.2vw), 640px);
    aspect-ratio: 1 / 0.68125;

    border-radius: 50px;

    box-shadow: -2px 4px 12px 0 rgba(0, 0, 0, 0.25);
}

.big_article figcaption {
    font-family: var(--palanquin);
    line-height: 1.2;
    letter-spacing: 0;
    font-size: clamp(16px, calc(12.4px + 0.97vw), 24px);
    font-weight: 400;

    color: rgba(61, 61, 61, 1);
}

/* #endregion*/

/* #region ARTICLE SECTION */

.articles_section {
    width: 100%;
    height: 730px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: clamp(80px, calc(43.6px + 9.7vw), 160px);

    gap: 80px;
}

.small_article {
    width: 520px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small_article h3 {
    width: 100%;
    font-family: var(--arima);
    line-height: 1.2;
    letter-spacing: 0;
    font-size: clamp(20px, calc(14.5px + 1.45vw), 32px);
    font-weight: 600;

    text-align: center;

    color: rgba(84, 55, 13, 1);
}

.small_figure {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.small_article figcaption {
    width: 100%;
    margin-top: 24px;

    font-family: var(--palanquin);
    line-height: 1.2;
    letter-spacing: 0;
    font-size: clamp(16px, calc(12.4px + 0.97vw), 24px);
    font-weight: 400;

    color: rgba(84, 55, 13, 1);
}
.small_figure img {
    width: 100%;
    aspect-ratio: 1 / 0.9;
    object-fit: cover;

    border-radius: 50px;

    box-shadow: -2px 4px 12px 0 rgba(0, 0, 0, 0.25);
}

/* #endregion */

/* #region OUTRO TEXT */

#outro {
    width: 100%;
    display: flex;
    justify-content: center;

    padding-inline: clamp(40px, calc(10.9px + 9.09vw), 120px);
}

.outro_text {
    font-family: var(--palanquin);
    line-height: 1.2;
    letter-spacing: 0;
    font-size: clamp(16px, calc(12.4px + 0.97vw), 24px);
    font-weight: 400;

    color: rgba(61, 61, 61, 1);
}

/* #endregion */

/* #region SHARE */
.share_section {
    position: relative;
    width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 80px;

    gap: 48px;
}
#arrow {
    position: absolute;
    width: 110px;
    aspect-ratio: 1 / 1;

    bottom: 1px;
    left: 18px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: rotate(-10deg);
}
.share_section p {
    font-family: var(--arima);
    line-height: 1.2;
    letter-spacing: 0;
    font-size: clamp(18px, calc(15.3px + 0.73vw), 24px);
    font-weight: 500;

    text-align: center;

    color: rgba(61, 61, 61, 1);
}

/* #endregion */
/* #region SHARE BTN */

.share_btn_container {
    position: relative;
    width: 100%;
    height: 48px;
}

.share_backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    cursor: default;
}

.share_btn {
    position: absolute;
    top: 0;
    left: calc((100% / 2) - 80px);
    width: 160px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 5px 0 0 0;

    border-radius: 40px;
    background-color: rgba(78, 164, 135, 1);

    font-family: var(--arima);
    line-height: 1.2;
    letter-spacing: 5%;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: rgba(241, 201, 83, 1);

    border: unset;
    cursor: pointer;
    user-select: none;
}

#share_symbol {
    width: 24px;
    height: 27px;
    margin-bottom: 5px;
}

.clicked_btn {
    position: absolute;
    top: 0;
    left: calc((100% / 2) - 80px);
    height: 48px;
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 20;

    opacity: 0;
    visibility: hidden;

    transition: all 300ms linear;
}

.share_btn_small {
    width: 120px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 24px 0 30px;

    border-radius: 40px;
    background-color: rgba(78, 164, 135, 1);

    font-family: var(--arima);
    line-height: 1.2;
    letter-spacing: 5%;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: rgba(241, 201, 83, 1);

    border: unset;
    cursor: pointer;
    user-select: none;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.links img {
    width: 24px;
    height: 27px;
}

.links ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;

    font-family: var(--arima);
    line-height: 1.2;
    letter-spacing: 5%;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    color: rgba(78, 164, 135, 1);
}

.shareables a {
    color: rgba(78, 164, 135, 1);
}

#share_toggle:checked ~ .share_backdrop {
    display: block;
}

#share_toggle:checked ~ .share_btn {
    display: none;
}

#share_toggle:checked ~ .clicked_btn {
    opacity: 1;
    visibility: visible;
}

/* #endregion */

@media screen and (min-width: 1441px) {
    .header_and_card {
        max-width: 1440px;
        justify-content: space-between;
    }
    .intro_text {
        max-width: 1440px;
    }

    .big_figure {
        max-width: 1440px;
        padding: 0;
    }
    .articles_section {
        max-width: 1440px;
        padding: 0;
    }
    #outro {
        max-width: 1440px;
        padding: 0;
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    .articles_section {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 120px;
    }
    .small_article {
        width: 100%;
        gap: 40px;
    }

    .small_article h3 {
        text-align: start;
    }

    .small_figure {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 70px;
    }
    .small_figure img {
        width: 40%;
        aspect-ratio: 1 / 0.9;
        object-fit: cover;
        border-radius: 50px;
        box-shadow: -2px 4px 12px 0 rgba(0, 0, 0, 0.25);
    }

    .small_article figcaption {
        margin-top: 0;
        display: flex;
        align-items: center;
    }
}
@media screen and /* (min-width: 601px) and */ (max-width: 800px) {
    .header_and_card {
        flex-direction: column;
    }

    .header_left {
        margin-bottom: 0px;
    }

    .header_right {
        width: 100%;
        flex-direction: row;
    }
    .card_text {
        align-items: flex-start;

        padding-inline: 20px;
    }

    .card_name {
        align-items: flex-start;
    }

    .articles_section {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .small_article {
        /* width: clamp(345px, calc(228.3px + 36.46vw), 520px); */
        width: 100%;
        gap: 20px;
    }

    /* .small_article h3 {
        text-align: start;
    } */

    .small_figure {
        align-items: center;
        gap: 35px;
    }
    .small_figure img {
        width: 75%;
        aspect-ratio: 1 / 0.9;
        object-fit: cover;
        border-radius: 50px;
        box-shadow: -2px 4px 12px 0 rgba(0, 0, 0, 0.25);
    }

    .small_article figcaption {
        margin-top: 0;
        display: flex;
        align-items: center;
    }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
    .statistics_area {
        flex-wrap: wrap;
    }
    .header_right {
        width: 100%;
        flex-direction: column;
    }
    .card_text {
        align-items: center;

        padding-inline: 20px;
    }

    .card_name {
        align-items: center;
    }

    .articles_section {
        padding-inline: clamp(40px, calc(10.9px + 9.09vw), 120px);
    }

    .small_figure img {
        width: 75%;
    }

    .share_section {
        width: 100%;
        padding-inline: clamp(40px, calc(-28.6px + 21.43vw), 100px);
    }

    #arrow {
        transform: scale(80%) translateY(10px) translateX(40px);
    }
}
@media screen and (min-width: 376px) and (max-width: 480px) {
    .statistics_area {
        flex-wrap: wrap;
    }
    .header_right {
        width: 100%;
        flex-direction: column;
    }
    .card_text {
        align-items: center;

        padding-inline: 20px;
    }

    .card_name {
        align-items: center;
    }

    .articles_section {
        padding-inline: clamp(40px, calc(10.9px + 9.09vw), 120px);
    }

    .small_figure img {
        width: 100%;
    }

    .share_section {
        width: 100%;
        padding-inline: clamp(40px, calc(-28.6px + 21.43vw), 100px);
    }

    #arrow {
        transform: scale(65%) translateY(-20px) translateX(-10px) rotate(20deg);
    }
}

@media screen and (max-width: 375px) {
    .statistics_area {
        flex-wrap: wrap;
    }
    .header_right {
        width: 100%;
        flex-direction: column;
    }
    .card_text {
        align-items: center;

        padding-inline: 20px;
    }

    .card_name {
        align-items: center;
    }

    .articles_section {
        padding-inline: clamp(40px, calc(10.9px + 9.09vw), 120px);
    }

    .small_figure img {
        width: 100%;
    }

    .share_section {
        width: 100%;
        padding-inline: clamp(40px, calc(-28.6px + 21.43vw), 100px);
    }

    #arrow {
        transform: scale(60%) translateY(-30px) translateX(-40px) rotate(20deg);
    }
}
