/* #region palaquin*/

/* palanquin-100 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 100;
    src: url("../assets/fonts/palanquin/palanquin-v17-latin-100.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-200 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 200;
    src: url("../assets/fonts/palanquin/palanquin-v17-latin-200.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 300;
    src: url("../assets/fonts/palanquin/palanquin-v17-latin-300.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/palanquin/palanquin-v17-latin-regular.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/palanquin/palanquin-v17-latin-500.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/palanquin/palanquin-v17-latin-600.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/palanquin/palanquin-v17-latin-700.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* #endregion */

/* #region palanquin-dark*/

/* palanquin-dark-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin Dark";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/palanquin_dark/palanquin-dark-v17-latin-regular.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-dark-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin Dark";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/palanquin_dark/palanquin-dark-v17-latin-500.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-dark-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin Dark";
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/palanquin_dark/palanquin-dark-v17-latin-600.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* palanquin-dark-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Palanquin Dark";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/palanquin_dark/palanquin-dark-v17-latin-700.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* #endregion */

/* #region ARIMA*/

/* arima-100 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Arima";
    font-style: normal;
    font-weight: 100;
    src: url("../assets/fonts/arima/arima-v7-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arima-200 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Arima";
    font-style: normal;
    font-weight: 200;
    src: url("../assets/fonts/arima/arima-v7-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arima-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Arima";
    font-style: normal;
    font-weight: 300;
    src: url("../assets/fonts/arima/arima-v7-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arima-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Arima";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/arima/arima-v7-latin-regular.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arima-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Arima";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/arima/arima-v7-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arima-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Arima";
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/arima/arima-v7-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arima-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Arima";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/arima/arima-v7-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* #endregion */

/* #region Roboto Mono*/

/* roboto-mono-100 - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 100;
    src: url("../assets/fonts/roboto_mono/roboto-mono-v31-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-100.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-100italic - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 100;
    src: url("../assets/fonts/roboto_mono/roboto-mono-v31-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-100italic.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-200 - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 200;
    src: url("../assets/fonts/roboto_mono/roboto-mono-v31-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-200.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-200italic - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 200;
    src: url("../assets/fonts/roboto_mono/roboto-mono-v31-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-200italic.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-300 - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 300;
    src: url("../assets/fonts/roboto_mono/roboto-mono-v31-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-300.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-300italic - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 300;
    src: url("../assets/fonts/roboto_mono/roboto-mono-v31-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-300italic.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-regular - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/roboto_mono/roboto-mono-v31-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-regular.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-italic - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 400;
    src: url("../assets/fonts/roboto_mono/roboto-mono-v31-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-italic.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-500 - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/roboto_mono/roboto-mono-v31-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-500.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-500italic - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 500;
    src: url("../assets/fonts/roboto_mono/roboto-mono-v31-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-500italic.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-600 - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/roboto_mono/roboto-mono-v31-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-600.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-600italic - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 600;
    src: url("../assets/fonts/roboto_mono/roboto-mono-v31-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-600italic.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-700 - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/roboto_mono/roboto-mono-v31-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-700.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-700italic - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 700;
    src: url("../assets/fonts/roboto_mono/roboto-mono-v31-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-700italic.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* #endregion */
