* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* #region header*/
#header_section {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #4ea487;
}

.header_content_wrapper {
    width: 100%;
    /* max-width: 1440px; */

    display: flex;
    justify-content: flex-start;

    padding: 32px clamp(64px, calc(-84.9px + 19.39vw), 140px);
    /* margin: 0 auto; */
}

.logo_and_nav {
    width: 100%;
    max-width: 1440px;

    margin: 0 auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: clamp(64px, calc(-6.5px + 9.18cqi), 100px);
    /* padding: 32px clamp(64px, calc(-84.9px + 19.39vw), 140px); */
}

#header_logo {
    width: 72px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
}

ul {
    display: flex;
    list-style: none;
    gap: clamp(40px, calc(-22.7px + 8.16vw), 72px);

    padding-inline-start: 0;
}
ul a:visited {
    color: var(--color-accent);
}

.nav_link {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.nav_link_highlights img {
    width: 120px;
    position: absolute;
    bottom: 3px;
    left: -3px;

    display: none;
}

.nav_link_faq img {
    width: 55px;
    position: absolute;
    bottom: 7px;
    left: -5px;

    display: none;

    transform: rotate(2deg);
}

.nav_link_contact img {
    width: 90px;
    position: absolute;
    bottom: 7px;
    left: -4px;

    display: none;
}

.nav_link:hover img {
    display: block;
    z-index: 0;
}

.nav_link a {
    font-family: var(--arima);
    font-size: 24px;
    font-weight: 700;

    color: #f8f5eb;
    text-decoration: none;
    z-index: 1;
}

.nav_link a:active {
    color: #f1c953;
}

/* #endregion */

/* #region nav_bar_mobile*/
#nav_bar_mobile {
    z-index: 4;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;

    padding: 24px 25px;

    background-color: #f1c953;
}

.nav_mobile ul {
    height: 40px;

    display: flex;
    align-items: center;
    padding-top: 5px;
}

#mobile_nav_link_home img {
    width: 31px;
    height: 34px;
}
#mobile_nav_link_highlights img {
    width: 33px;
    height: 33px;
}
#mobile_nav_link_faq img {
    width: 30px;
    height: 34px;
}
#mobile_nav_link_contact img {
    width: 30px;
    height: 34px;
}

/* #endregion */

/* #region FOOOTER */
footer {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* padding: 60px clamp(60px, calc((100vw - 768px) / 2), 120px); */

    font-family: var(--palanquin);
    font-weight: 400;
    color: #ffffff;

    background-color: #4ea487;
}

.footer_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 60px clamp(36px, calc(-60px + 12.5vw), 120px);
}

.footer_content_left {
    display: flex;
    align-items: center;

    gap: clamp(36px, calc((100vw - 768px) / 2), 72px);
}

.copyright img {
    width: 20px;
    height: 20px;
}

.copyright {
    display: flex;
    align-items: center;

    gap: 4px;
}

.copyright a {
    font-size: 18px;
    line-height: 1.2;

    color: #ffffff;
}
.copyright a:visited {
    color: var(--color-accent);
}

.footer_content_left a {
    display: flex;

    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}
.footer_content_left a:visited {
    color: var(--color-accent);
}

.imp_prefs_container {
    display: flex;
    gap: clamp(36px, calc((100vw - 768px) / 2), 72px);
}

.external_links {
    display: flex;
    align-items: center;

    gap: 16px;
}

.external_links a {
    display: flex;
}

.external_links_logo {
    height: 32px;
}

/* #endregion */
