/* #region MAIN responsive */
main {
    gap: 80px;
}
/* #endregion */

/* #region HEADER responsive */
@media screen and (max-width: 845px) {
    /* #header_section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4ea487;
    } */

    /* .logo_and_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(70px, calc((100vw - 845px) / 2), 100px);
        padding: 32px;
    } */

    /* ul {
        gap: clamp(40px, 50% - 420px, 72px);
    } */
}
/* #endregion */

/* #region Responsive(Hero) */
@media screen and (min-width: 1441px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero {
        height: 547px;
    }

    #highlights_section {
        max-width: 1440px;
    }
    #faq_section {
        width: 1200px;
        padding-inline: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hero {
        height: 540px;
    }
}

@media screen and (min-width: 768px) {
    .hero_yellow_shape {
        width: clamp(0px, calc(191.99vw - 1472.68px), 647px);
    }

    .hero_text {
        opacity: clamp(0, calc((100vw - 1029px) / 337px), 1);
    }
    .badge_wrapper {
        opacity: clamp(0, calc((100vw - 1029px) / 337px), 1);
    }
}

@media screen and (max-width: 767px) {
    .hero {
        height: auto;
        min-height: 515px;
        max-width: 100%;
        margin: 0;
    }

    .hero_image {
        position: absolute;
        inset: 0;
        top: 0;
        left: 0;
        right: auto;
        width: 100%;
        height: 100%;
    }

    .hero_image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 65% 30%;
    }

    .hero_yellow_shape {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 58%;
        height: 58%;
        object-fit: fill;
        z-index: 2;
        pointer-events: none;
    }

    .hero_text {
        display: none;
    }

    .badge_wrapper {
        top: 39%;
        left: 40%;
        transform: translate(-50%, -50%);
        z-index: 3;
        width: 42.5%;
        max-width: 170px;
    }
}
/* #endregion */

/* #region HIGHLIGHTS responsive */
@media screen and (max-width: 767px) {
    .highlights {
        gap: 32px;
        width: 100%;
        max-width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .highlights-intro {
        max-width: 100%;
    }

    .highlights-headline {
        gap: 8px;
        height: 40px;
    }

    .highlights-icon {
        width: 40px;
        height: 40px;
    }

    .highlights-headline h2 {
        font-size: 40px;
        line-height: 1.2;
    }

    .highlights-intro p {
        display: none;
    }

    .mobile-hidden {
        display: none;
    }

    .mobile-show {
        display: inline;
    }

    .highlight-slide {
        height: 533px;
        border-radius: 0 100px 0 0;
    }

    .highlight-text {
        top: auto;
        bottom: 300px;
        left: 150px;
        transform: translateX(-50%);
        width: 307px;
        max-width: calc(100% - 32px);
        padding: 16px;
        justify-content: center;
    }

    .highlight-text h3 {
        font-size: 28px;
        line-height: 1;
        margin-bottom: 8px;
    }

    .highlight-text p {
        font-size: 20px;
        line-height: 1.1;
    }

    .highlights-dots {
        bottom: 39px;
        gap: 22px;
    }
    .highlight-slide img {
        object-position: 40% 30%;
    }

    @media screen and (max-width: 400px) {
        .highlight-text {
            bottom: 240px;
            left: 140px;
        }
    }
}
/* #endregion */

/* #region FAQ responsive */

@media screen and (max-width: 767px) {
    #faq_section {
        padding: 0 20px;
        gap: 32px;
    }

    #header_faq_section h2 {
        font-size: 40px;
    }
    #header_faq_section img {
        width: 40px;
        height: 40 px;
    }

    summary {
        font-size: 16px;
    }

    details[open] {
        gap: 8px;
    }

    #faq_details_section {
        gap: 16px;
    }
}

/* #endregion */

/* #region Contact Form responsive */
@media screen and (max-width: 600px) {
    #contact_section {
        padding-inline: clamp(20px, calc((100vw - 600px) / 2), 70px);
        margin-bottom: 80px;
    }

    #header_contact_sec h2 {
        font-size: 40px;
    }
    #header_contact_sec img {
        width: 30px;
        height: 35px;
    }

    #contact_area {
        width: 100%;
        margin-top: 56px;
        display: flex;
        flex-direction: column;
        gap: 64px;
        font-family: var(--palanquin);
        font-weight: 500;
        font-size: 24px;
    }

    .contact_input_row {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .contact_input_one_line {
        width: 100%;
    }

    .row_container {
        width: 100%;
    }

    #agree_area {
        font-family: var(--palanquin);
        font-weight: 400px;
        font-size: 15px;
    }
    #agree_area label {
        min-width: 260px;
    }

    #agree_policy {
        min-width: 18px;
        height: 18px;
    }
}
/* #endregion */

/* #region FOOTER responsive */
@media screen and (max-width: 767px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        padding: 30px;

        gap: 20px;
    }
    .footer_content_left {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:
            16px,
            calc((100vw - 768px) / 2) 36px;
    }
}

/* #endregion */

/* #region ... responsive */

/* #endregion */
