* {
    margin: 0;
    box-sizing: border-box;
}



main {
    display: flex;
    flex-direction: column;

    padding: 120px;

    gap: 120px;
}


/* #region faq*/

#faq_section {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 48px;

}


#header_faq_section img {
    width: 48px;
    height: 48px;

}


#header_faq_section {
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 8px;

}


#header_faq_section h2 {
    font-family: var(--arima);
    font-size: 52px;
    font-weight: bold;
    color: #4EA487;
}


#faq_details_section {
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 32px;

    font-family: var(--palanquin);

}


.faq_detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 12px;
    padding: 16px 14px;

    /* gap:10px; */

    background-color: #F1C953;
}


summary {
    list-style: none;
    font-family: var(--palanquin);
    font-weight: 700;
    font-size: 24px;

    color: #54370D;

}


.summary_area {
display: flex;
justify-content: space-between;
align-items: center;

}


.details_opener {
width: 19px;
height: 11px;

flex-shrink: 0;
transition: all 0.2s ease;

}

/* .details_opener:active{

transform:rotate(180deg);

} */
/* .summary_area[target=_open]:active{
flex-shrink: 0;
transition: all 0.2s ease;

transform:rotate(180deg);

} */
details[open] img {
    transform: rotate(180deg);
}


details[open] {
    gap: 12px;
}


.summary_text {
    display: flex;

    padding: 4px 10px;
    /* gap:10px; */

    border-radius: 5px;
    background-color: #FFFFFF;

    font-family: var(--palanquin);
    font-size: 16px;
    font-weight: 500;
    color: #54370D;

}

/* #endregion faq */